A.sidebarlink {

	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; LINE-HEIGHT: 13px

}

.largebody {

	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.smallbody {

	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.smallbodygrey {

	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999

}

.smallbodybold {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.largebodybold {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.largebodylist {

	MARGIN-TOP: 0px; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0px

}

.greyheading {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666

}

.grey {

	FONT-SIZE:11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666

}

.greybold {

	FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666

}

.red {

	COLOR: #ff0000

}

.alertlargebody {

	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff0000

}

.alertlargebodybold {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff0000

}

.identifier {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666

}

.heading {

	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.heading1 {

	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.middleheader {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.lightgray {

	COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.lightgraybold {

	FONT-WEIGHT: bold; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.darkgray {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.darkgraybold {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.logout {

	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.black {

	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.blue {

	COLOR: #0033cc; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.grey {

	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.green {

	COLOR: #009933; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.heading2 {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.columnheading {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.greyheading {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica

}

.light {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.lightbold {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.dark {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.darkbold {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica

}

.sidebarheading1 {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif

}

.largebodylist {

	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.smallbodylist {

	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif

}

A:link {

	TEXT-DECORATION: underline

}

A:visited {

	TEXT-DECORATION: underline

}

A:hover {

	TEXT-DECORATION: underline

}

A:active {

	TEXT-DECORATION: underline

}

A.topnavlink:link {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.topnavlink:visited {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.topnavlink:hover {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: underline

}

A.topnavlink:active {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.toolbar:link {

	COLOR: #666666; TEXT-DECORATION: none

}

A.toolbar:visited {

	COLOR: #666666; TEXT-DECORATION: none

}

A.toolbar:hover {

	COLOR: #666666; TEXT-DECORATION: underline

}

A.toolbar:active {

	COLOR: #666666; TEXT-DECORATION: none

}

A.navi1:link {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none

}

A.navi1:visited {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none

}

A.navi1:hover {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline

}

A.navi1:active {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none

}

A.navi2:link {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none

}

A.navi2:visited {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none

}

A.navi2:hover {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline

}

A.navi2:active {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none

}

.navi3  {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi3  {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

.navi3_active  {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.navi3:link {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi3:visited {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi3:hover {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: underline

}

A.navi3:active {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

.navi4 {

	FONT-SIZE: 11px;  COLOR: #0033cc;	TEXT-DECORATION: none

}

A.navi4 {

	FONT-SIZE: 11px;  COLOR: #0033cc;	TEXT-DECORATION: none

}

.navi4_active {

	FONT-SIZE: 11px;  COLOR: #666666;	TEXT-DECORATION: none

}

A.navi4:link {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi4:visited {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi4:hover {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: underline

}

A.navi4:active {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

.navi5 {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.navi5_active {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.navi5:link {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi5:visited {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi5:hover {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: underline

}

A.navi5:active {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

.navi6 {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.navi6_active {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.navi6:link {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi6:visited {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.navi6:hover {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: underline

}

A.navi6:active {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.naviTitle:link {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.naviTitle:visited {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.naviTitle:hover {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: underline

}

A.naviTitle:active {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.listresult:link {

	COLOR: #000000; TEXT-DECORATION: underline

}

A.listresult:visited {

	COLOR: #000000; TEXT-DECORATION: underline

}

A.listresult:hover {

	COLOR: #000000; TEXT-DECORATION: underline

}

A.listresult:active {

	COLOR: #000000; TEXT-DECORATION: underline

}

.drop {

	FONT-SIZE: 11px; WIDTH: 140px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px

}

.text {

	FONT-SIZE: 11px; WIDTH: 120px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px

}

A.searchpage:link {

	COLOR: #0033cc; TEXT-DECORATION: none

}

A.searchpage:visited {

	COLOR: #999999; TEXT-DECORATION: none

}

A.searchpage:hover {

	COLOR: #0033cc; TEXT-DECORATION: underline

}

A.searchpage:active {

	COLOR: #0033cc; TEXT-DECORATION: none

}

.login {

	FONT-SIZE: 10px; COLOR: #999999

}

.searchfield {

	FONT-SIZE: 10px; WIDTH: 100px

}

.loginfield {

	FONT-SIZE: 12px; WIDTH: 140px

}

.firsttimeusers {

	FONT-SIZE: 10px; WIDTH: 170px

}

.admintoolfield {

	FONT-SIZE: 10px; WIDTH: 140px

}

.datefield {

	FONT-SIZE: 11px; WIDTH: 70px

}

.dropdown {

	FONT-SIZE: 11px; WIDTH: 130px; FONT-FAMILY: Arial, Helvetica, sans-serif

}

A.topnavig:link {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.topnavig:visited {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.topnavig:hover {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: underline

}

A.topnavig:active {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.footer {

	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none

}

A.footerhighlighted  {

	FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: none

}

A.footerhighlighted:link  {

	FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: none

}

A.footerhighlighted:visited  {

	FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: none

}

A.footer:link {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.footer:active {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: none

}

A.footer:visited {

	FONT-SIZE: 11px; COLOR: #800080; TEXT-DECORATION: none

}

A.footer:hover {

	FONT-SIZE: 11px; COLOR: #0033cc; TEXT-DECORATION: underline

}

.copyright {

	FONT-SIZE: 10px; COLOR: #999999

}

TD {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.smallcell {

	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif

}

